nav {
    position: absolute;
    top: 180px;
    left: 0px;
    width: 203px;
    min-height: 1500px;
}

input:required{
    background-color: yellow;
}

input:required:invalid{
    background-color: red;
}

input:required:valid{
    background-color: green;
}